@import url("./../resources/fonts/Montserrat/stylesheet.css"); /*Montserrat*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1110px;
    margin-right: auto;
    margin-left: auto;
}
.none {
    display: none !important;
}

/* Header */

header {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #575757;
    color: #FFFFFF;
}

.header-title {
    margin: 0;
    line-height: 1.3;
    margin-bottom: 25px;
    font-size: 56px;
    font-weight: 700; 
}

.header-subtitle {
    margin: 0;
    line-height: 1.5;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 3px;
}

.header-arrow {
    width: 48px;
    height: 48px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
    cursor: pointer;
    margin-bottom: 30px;    
}


/* Portfolio */



.portfolio {
    padding-top: 80px;
    padding-bottom: 115px;
}

.portfolio-header {
    font-size: 46px;
    font-weight: 700;
    text-align: center;
    line-height: 1.3;
    margin-bottom: 70px;
}

.portfolio-content-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    padding: 20px;
    background-color: #FFFFFF;
    max-width: 540px;
    margin-bottom: 30px;
    box-shadow: 0px 10px 40px rgba(126, 155, 189, 0.35);
}

.card:last-child, .card:nth-last-child(2) {
    margin-bottom: 0;
}

.card-img {
    margin-bottom: 20px;
}

.card-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 130%;
    margin-bottom: 13px;
}

.card p {
    font-size: 16px;
    line-height: 130%;
}

footer {
    padding: 45px 165px 129px 165px;
    background-color: #1E4776;
}

.footer-row {
    display: flex;
    justify-content: space-between;
}

.footet-col {
    max-width: 350px;
    flex-grow: 1;
}

.footer-copiright {
    color: #7E9EC9;
}

